<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>661335339320-hkh637q0pai90qgq0murfbdr2o3dbcu6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.661335339320-hkh637q0pai90qgq0murfbdr2o3dbcu6</string>
	<key>API_KEY</key>
	<string>AIzaSyDxhp9sdgZq00khjInVD1M3Crz846En2jw</string>
	<key>GCM_SENDER_ID</key>
	<string>661335339320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.googleLogin</string>
	<key>PROJECT_ID</key>
	<string>login-1dbd9</string>
	<key>STORAGE_BUCKET</key>
	<string>login-1dbd9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:661335339320:ios:4784338230d2df57e2d1cd</string>
</dict>
</plist>